/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  animation: fade-in 5s ease-in-out;
}

.home-container {
  overflow-x: hidden;
}

.headbar-container {
  display: flex;
  width: 100vw;
  height: 120px;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.headbar-middle {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  justify-content: space-around;
}

.left-side {
  display: flex;
}

.left-side img {
  width: 120px;
  height: 120px;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.right-side ul {
  display: flex;
  column-gap: 20px;
}

.right-side li {
  list-style-type: none;
}

.home-profile {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.profile-info {
  max-width: 600px;
  animation: slideIn 5ss ease-in-out;
}

.profile-info h1 {
  max-width: 600px;
  font-size: 55px;
}

.profile-info p {
  font-size: 18px;
  max-width: 400px;
  margin-top: 20px;
}

.wave {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.profile-info img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 25px;
}

.profile-pic img {
  width: 320px;
  height: 350px;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  background-color: #212121;
  animation: blob-animation 15s ease infinite, insideOut 7s ease-in-out;
}

@keyframes blob-animation {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  25% {
    border-radius: 30% 70% 50% 50% / 50% 30% 70% 40%;
  }
  50% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  75% {
    border-radius: 30% 70% 60% 40% / 50% 60% 30% 40%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes insideOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


@media (max-width:1080px){
  .home-profile{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .profile-info{
    text-align: center;
  }

  .profile-info p{
    max-width: 600px;
  }
}

@media (max-width:700px){
  .profile-pic img{
    width:280px;
    height:290px;
  }

  .profile-info h1{
    font-size: 40px;
  }

  .profile-info p{
    font-size: 16px;
  }
}

@media(max-width:450px){
  .profile-pic img{
    width:280px;
    height:290px;
  }

  .profile-info h1{
    font-size: 30px;
  }

  .profile-info p{
    font-size: 14px;
  }
}