* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .headbar-container {
    display: flex;
    width: 100vw;
    height: 120px;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
  }
  
  .headbar-middle {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: space-around;
  }
  
  .left-side {
    display: flex;
  }
  
  .left-side img {
    width: 120px;
    height: 120px;
  }
  
  .right-side {
    display: flex;
  }
  
  .right-side ul {
    display: flex;
    column-gap: 20px;
    opacity: 1;
    visibility: visible;
  }
  
  .right-side li {
    list-style-type: none;
  }

  .right-side li:hover {
    color: #ecc19c;
  }
  
  .menu {
    margin-left: 20px;
    opacity: 0;
    cursor: pointer;
  }

  .close-menu{
    opacity: 0;
    cursor: pointer;
  }

  @keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideFromTop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .openMenu {
     height: 50vh;
     background: transparent;
     animation: slideFromLeft 1s ease-in-out;
     animation-fill-mode: forwards;  

    .menu{
        opacity:0;
    }

    .close-menu{
        opacity: 1;
        visibility: visible;
        animation: slideFromTop 0.5s ease-in-out;
        animation-fill-mode:forwards;  
    }
  
    .left-side img {
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .headbar-middle {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .right-side ul {
      font-size: 20px;
      opacity: 1;
      visibility: visible;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 30px;
    }


  }


  @media (max-width: 1080px) {
    .right-side ul {
      opacity: 0;
      visibility: hidden;
    }
  
    .menu {
      opacity: 1;
      position: absolute;
      top: 50px;
      right: 10%;
      cursor: pointer;
    }

    .close-menu{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50px;
        right: 10%;
        cursor: pointer;
    }
  }